page-myFriend {

  $userBackgroundColor: #387ef5;
  $toUserBackgroundColor: #fff;
  .backg2 {
    background-image: url("../../assets/img/Untitled-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: darkslategray;
  }
  .FriendButton2{
    height:60px;
    width: 100%;
    background-color:#33E3CB ;
    font-size: 24px;
    float: left;
    margin-left: 2%;
    border-radius: 20px;
    border-color: #222222;
    border: 5px;
  }
  .FriendButton{
    height:60px;
    width: 100%;
    background-color:#84F96F ;
    font-size: 24px;
    float: left;
    margin-left: 2%;
    border-radius: 20px;
    border-color: #222222;
    border: 5px;

  }
  ion-avatar img  {
    width:100% !important;
    height : 100% !important;
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
    border-radius: 50%;
    border-color: #222222;


  }

  .BackS {
    background-image: url("../.././assets/img/User.png");
    background-size: 70px;
    border: 10px;
    border-color: blue;
    width:70px !important;
    height : 70px !important;
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
    float: left;
    border-radius:50%;
    margin-top: 10px ;




  }
  ion-content .scroll-content {
    background-color: #f5f5f5;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    //height: 50px;
    //ion-input {
    //  position: static;
    //
    //}
    ion-col.col {
      padding: 0;
      width: 20px;

    }
    button {
      width: 55px;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }

  }
  .txtinput{
    margin-bottom: 2px;
    //border-bottom: 1px $userBackgroundColor;
    border-style: solid;
    height: 55px;
    width: 100%;
    color: white;
    background-color: darkslategray;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 24px;
  }
  .BackS{

  }
  .message-wrap {

    padding: 0 0px;
    width: 100%;

    //background-image: url("../../assets/img/chat.jpg") ;
    //background-position: center;
    ////background-repeat: no-repeat;
    //background-repeat: repeat-y;
    //background-size: cover;
    //height: 1500px;
    .message {
      position: relative;
      padding: 7px 0;
      font-size: 24px;
      font-family: "Roboto", "Helvetica Neue", sans-serif;
      width: 100%;
      //.user-img {
      //  position: absolute;
      //  border-radius: 45px;
      //  width: 100px;
      //  height:  100%;
      //  box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      //  border-color: aqua;
      //
      //
      //}

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;
          max-width: 80%;
          //span.triangle {
          //  //background-color: springgreen;
          //  border-radius: 2px;
          //  height: 10px;
          //  width: 100%;
          //  top: 12px;
          //  display: block;
          //  border-style: solid;
          //  border-color: #ddd;
          //  border-width: 1px;
          //  -webkit-transform: rotate(45deg);
          //  transform: rotate(45deg);
          //  position: absolute;
          //}
        }

      }
    }

    .message.left {
      .msg-content {
        background-color: white;
        float: left;
        width: 100%;
      }
      .msg-detail {
        padding-left: 200px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: #343434;
        //background: #2B60DE;
        //background-color: goldenrod;
        //border-color: #343434;
        //span.triangle {
        //  border-color: #343434;
        //  border-top-width: 0;
        //  border-right-width: 0;
        //  left: -5px;
        //}
      }

    }

    .message.right {
      .msg-detail {
        padding-right: 60px;
        .msg-info {
          text-align: right;
        }
      }
      .user-img {
        right: 0;
      }
      //ion-spinner {
      //  position: absolute;
      //  right: 10px;
      //  top: 50px;
      //}
      .msg-content {
        background-color: $userBackgroundColor;
        float: right;
        //span.triangle {
        //  background-color: $userBackgroundColor;
        //  border-bottom-width: 0;
        //  border-left-width: 0;
        //  right: -5px;
        //}
      }

    }

  }

}
